PORT=5050
MONGO_URI="mongodb+srv://<username>:<password>@<cluster-url>/?retryWrites=true&w=majority"
MONGO_DB_NAME=pharmacy_management
LOW_STOCK_THRESHOLD=20
GOOGLE_CLIENT_ID=222614248763-piuijai52b394b4d48usfrs8vqtup6si.apps.googleusercontent.com
